<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dont_waste_brq">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dont_Waste_BRQ">
        <activity
            android:name=".activity.AlimentosCadastradosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ItensFrutasActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TelaDespensaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TelaCategoriasActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TelaGaladeiraActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MenuHamburguer"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityMenu"
            android:exported="true" />
        <activity
            android:name=".activity.HomeTeste"
            android:exported="true"
            android:label="@string/title_activity_home_teste"
            android:theme="@style/Theme.Dont_Waste_BRQ.NoActionBar" />
        <activity
            android:name=".activity.VencimentosProximosActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DesperdiciosActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.EsqueciMinhaSenhaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeLogadaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SegundaTelaCadastroActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PrimeiroAcessoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeNaoLogadaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>